@{
    ViewData["Title"] = "Login";
}

<div class="login-container">

    <div class="login-left">
        <h1>WELCOME BACK!</h1>
        <p class="subtitle">Ardua Non Timeo!</p>

        <form>
            <label>Email address</label>
            <input type="email">

            <label>Password</label>
            <input type="password">

            <div class="forgot">
                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit">Log In</button>
        </form>
    </div>

    <div class="login-right">
        <img src="~/images/Login.jpg" alt="Login Image">
    </div>

</div>
</div>